
header{
    font-size: 30px;
    background: linear-gradient(rgb(228, 222, 222), rgb(73, 73, 71));
    padding: 15px;
    margin: 0px;
    }
   
    footer{
        font-size: 25px;
        color: black;
        text-align: center;
    }